#map {
	width: 100%;
	height: 869px;

}
.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}
.info h4 {
	margin: 0 0 5px;
	color: #777;
}
.legend {
	text-align: left;
	line-height: 18px;
	color: #555;
}
.legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}

#top {
	background-color: #1B6D9F;
	height: 60px;
}

#logoCagece {margin: -10px}

.subtitle {
	color: #fff;
    line-height: 63px;
    font-size: 25px;
    margin-left: 15px;
}
.navbar-icons {
	height: 60px;
	font-size: 15px;
}

.navbar-icons li a {
	color: #fff;
	background-color: #1B6D9F;
}

.navbar-icons li a:hover {
	color: #fff;
	background-color: #1B6D9F;
}

.navbar-icons li a:focus {
	color: #fff;
	background-color: #1B6D9F; 
}

.navbar-icons li a:hover, .navbar-icons li a:active {
	color: #88C641;
	background-color: #1B6D9F; 
}

.retGreen {
	width: 100%;
	background-color: #88C641;
    min-height: 10px;
    margin-top: -15px;
}

.marginLogoCagece {text-align: center;}

input.search-input {
	border: 0px !important;
}

.easy-button-container {
	left: 25px;
}

.leaflet-control-zoomslider {
	top: 0px;
	left: 24px;
}

.opacity_slider_control {
	top: 0px;
	left: 35px;
}

.leaflet-bar {
	left: 25px;
}

.leaflet-control-zoom a.leaflet-control-zoom-in, .leaflet-control-zoom a.leaflet-control-zoom-out {
	display: none;
}